.container {
    padding: 50px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    opacity: .90;
}



.wrapper {
    width: 105%; /* this is the part causing the wonkiness with the background */
    margin: auto;
    padding: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 5px;
}

.list {
    width: 50%;
    margin: auto;
    font-size: 20px;
}
