@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans&display=swap');

.container {
    font-family: "PT Sans", sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}
.checklist {
    list-style: none;
    column-count: 5; /* 3 for small, 5 for large displays */
    text-align: center;
}
.alt-list {
    text-align: left;
}
.dex-entry {
    border: 10px gray;
}