@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans&display=swap');

.dex {
    font-family: "PT Sans", sans-serif;
    text-align: center;
    padding: 20px;
    opacity: .95;
}
.checklist {
    list-style: none;
    column-count: 5; /* 3 for small, 5 for large displays */
    text-align: center;
}
@media (max-width:  720px) { .checklist { column-count: 3; } }
@media (max-width:  390px) { .checklist { column-count: 2; } }
@media (max-width:  270px) { .checklist { column-count: 1; } }
@media (min-width: 1000px) { .checklist { column-count: 7; } }
@media (min-width: 1200px) { .checklist { column-count: 9; } }
@media (min-width: 1560px) { .checklist { column-count:10; } }
.loading {
    background-color: #fff;
}
.alt-list {
    text-align: left;
}
.dex-entry {
    border: 10px gray;
}
.button {
    text-align: right;
}